<!DOCTYPE html>
<html lang="en">
  <head>
    <h3>
      Error 500: There was a server error. Please inform the administrator.
    </h3>
  </head>
  <body style="font-size:20px; padding:50px;">
  </body>
</html>